{% extends "base.html" %}
{% load static %}

{% block title %}
Products
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-center mb-4">
        🍦 Our Products
    </h2>

    <div class="row mb-4">

        <div class="col-md-6">

            <input
                type="text"
                class="form-control"
                id="searchBox"
                placeholder="Search Ice Cream">

        </div>

        <div class="col-md-4">

            <select
                id="categoryFilter"
                class="form-select">

                <option value="">All Categories</option>

            </select>

        </div>

    </div>

    <div class="row" id="productContainer">

    </div>

</div>

<script src="{% static 'js/products.js' %}"></script>

{% endblock %}